/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include </tmp/zmk-config/config/keymap_bepo.h>
/ {
    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_press>;

            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------
            // | ESC |  B  |  W  |  P  |  O  | ?/' |   | !/^ |  V  |  D  |  L  |  J  |BSPC |
            // | TAB |  A  |  U  |  I  |  E  | ,/; |   |  C  |  T  |  S  |  R  |  N  | DEL |
            // |LCTRL|  Z  |  Y  |  X  |  .  |  K  |   |  M  |  Q  |  R  |  H  |  F  |RSHFT|
            //                     | GUI | LWR | SPC |   | ENT | RSE | ALT |

            bindings = <
&kp ESCAPE  &kp BP_B    &kp BP_W    &kp BP_P        &kp BP_O            &kb BP_DLR   &mt BP_EXLM  BP_DCIR      &kp BP_V    &kp BP_D    &kp BP_L    &kp BP_J    &kp BSPC
&kp TAB     &kp BP_A    &kp BP_U    &kp BP_I        &kp BP_E            &kp BP_G     &kp BP_C                  &kp BP_T    &kp BP_S    &kp BP_R    &kp BP_N    &kp DELETE
&sk LCTRL   &kp BP_Z    &kp BP_Y    &kp BP_X        &mt BP_DOT BP_COLN  &kp BP_K     &kp BP_M                  &kp BP_Q    &kp BP_G    &kp BP_H    &kp BP_F    &sk RSHFT
                                    &sk LEFT_SHIFT  &mo 1               &kp SPACE    &kp RET                   &mo 2       &sk RALT
            >;
        };

        lower_layer {
            // --------------------------------------------------------------------------------
            // |trans| "|" |  É  |  &  |  È  |  Œ  |   |  "  |trans|  [  |  ]  |trans|trans|
            // |trans|  Æ  |  Ù  |  ¨  |  €  |  '  |   |  #  |  {  |  (  |  )  |  }  |trans|
            // |trans|  /  |  \  |  Ç  |  $  |PRTSC|   |  ~  |  «  |  <  |  >  |  »  |trans|
            //                   |trans| LWR |trans|   |trans|trans|trans|

            bindings = <
&trans  &kp BP_PIPE   &kp BP_EGRV    &kp BP_AMPR    &kp BP_EGRV    &kp BP_OE          &kp BP_DQUO    &trans           &kp BP_LBRC      &kp BP_RBRC      &trans         &trans
&trans  &kp BP_AE     &kp BP_UGRV    &kp BP_DIAE    &kp BP_EURO    &kp PIPE           &kp BP_HASH    &kp BP_LCBR      &kp BP_LPRN      &kp BP_RPRN      &kp BP_RCBR    &trans
&trans  &kp BP_SLSH   &kp BP_BSLS    &kp BP_CCED    &kp BP_DLR     &kp PRINTSCREEN    &kp BP_TILD    &kp BP_LDAQ      &kp BP_LABK      &kp BP_RABK      &kp BP_RDAQ    &trans
                                     &trans         &trans         &trans             &trans         &trans           &trans
            >;
        };

        Raise_layer {
            // --------------------------------------------------------------------------------
            // |trans|trans|trans|trans|trans|trans|   |  /  |  7  |  8  |  9  |  *  |BSPC |
            // |trans|trans|trans|trans|trans|trans|   |  -  |  4  |  5  |  6  |  +  | DEL |
            // |trans|trans|trans|trans|trans|trans|   |  .  |  1  |  2  |  3  |  %  | ENT |
            //                   |trans|trans|trans|   |trans|  ,  |  0  |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp FSLH   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp STAR     &kp BSPC
&trans  &trans  &trans  &trans  &trans  &trans    &kp MINUS  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PLUS     &kp DELETE
&trans  &trans  &trans  &trans  &trans  &trans    &kp DOT    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERCENT  &kp RET
                        &trans  &trans  &trans    &trans     &kp KP_COMMA     &kp KP_NUMBER_0
            >;
        };
    };
};

// Tamplate
// --------------------------------------------------------------------------------
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
//                   |     |     |     |   |     |     |     |
